body {
    font-family: 'Poppins', sans-serif;
}


:root {
            box-sizing: border-box;
            padding-top: env(safe-area-inset-top, 0px);
            padding-bottom: env(safe-area-inset-bottom, 0px);
        }

        html {
            scroll-behavior: smooth;
            scroll-padding-top: env(safe-area-inset-top, 0px);
        }

        .wave-divider {
            line-height: 0;
        }

        